
.navBarLogo {
  max-width: 50%;
}

.contacto {
  

}
.piePagina {
  background: #343a40;
  padding: 40px;
}

/* .container {
  display: flex;
  justify-content: space-around; 
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}  */